@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@1,700&family=Slabo+27px&display=swap");

:root {
	--background: rgb(236, 236, 236);
}
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
body {
	width: 100%;
	min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Spectral";
}

.app {
	width: 100%;
	min-height: 100%;
}

.app__hero {
	width: 100%;
	height: 100vh;
	padding: 1em;
	color: rgb(255, 255, 255);
	position: absolute;
	z-index: 100;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000e8),
		url("assets/images/hero-banner.jpg");
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	transition: 1s ease;
}
.app__hero.open {
	opacity: 0;
}
.app__hero-container {
	text-align: center;
}
.app__hero-container__title {
	font-size: 50px;
	letter-spacing: 0.25em;
	text-transform: uppercase;
	transition: 1s ease;
}
.app__hero-container__subtitle {
	font-size: 35px;
	transition: 1s ease;
}
.app__hero-container:hover .app__hero-container__title {
	margin-bottom: 20px;
}
.app__hero-container:hover .app__hero-container__subtitle {
	margin-top: 20px;
}
.app__hero-container:hover .app__hero-container__button {
	opacity: 1;
	padding: 20px;
}
.app__hero-container__button {
	opacity: 0;
	border-radius: 50px;
	border: none;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0px auto;
	transition: 1s ease;
	position: relative;
	cursor: pointer;
}

/* Expo */

.app__expo {
	width: 100%;
	height: 100vh;
	background: radial-gradient(
		circle at 50% 0%,
		rgba(200, 128, 42, 0.73) 0%,
		rgba(73, 47, 16, 0.73) 100%
	);
	display: flex;
	flex-direction: row;
	transition: 1s ease;
}
.app__expo-container {
	background-image: url("assets/images/wall.png");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	transition: 1s ease;
}
.app__expo-container_title {
	width: 100%;
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.app__expo-container_title-expo {
	opacity: 1;
}
.app__expo-container_title h1 {
	font-size: 40px;
	position: absolute;
	opacity: 0;
	text-transform: uppercase;
	text-shadow: 1px 1px 20px rgb(255, 233, 174), 1px 1px 2px rgb(255, 233, 174);
	transition: 1s ease;
	color: antiquewhite;
}
.app__expo-artwork {
	width: 25%;
	height: 90vh;
	justify-content: center;
	position: relative;
	align-items: center;
	display: flex;
	transition: opacity 0.5s ease, transform 1s ease;
}

.app__expo-artwork_frame {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	transition: 1s ease;
}
.app__expo-artwork img {
	position: absolute;
	width: 60%;
	box-shadow: rgba(236, 201, 149, 0.56) 0px 0px 100px 4px;
}
.app__expo-artwork_frame > img {
	z-index: 3;
	cursor: pointer;
	transition: 0.5s ease;
}
.app__expo-artwork_frame > img:hover,
.app__expo-artwork_frame > img:hover ~ .app__expo-artwork_frame-paint {
	transform: scale(1.05);
}
.app__expo-artwork_frame > img:hover ~ .app__expo-artwork_frame-paint {
	top: 40px;
}

.app__expo-artwork_frame-paint {
	position: relative;
	width: calc(100% - 70px);
	height: calc(100% - 50px);
	display: flex;
	justify-content: center;
	top: 30px;
	z-index: 2;
	transition: 0.5s ease;
}
.app__expo-artwork.turned .app__expo-artwork_frame {
	transform: rotateY(180deg);
}

.app__star {
	width: 100%;
	height: 100vh;
	opacity: 0;
	background: radial-gradient(
		circle at 50% 0%,
		rgba(200, 128, 42, 0.73) 0%,
		rgba(73, 47, 16, 0.73) 100%
	);
	transition: 1s ease;
}
.app__star-container {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-image: url("assets/images/wall.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.app__star-container_artwork-frame {
	position: relative;
	display: flex;
	justify-content: center;
	transition: 1s ease;
}
.app__star-container_artwork-frame img {
	width: 80%;
	z-index: 3;
	box-shadow: rgba(236, 201, 149, 0.56) 0px 0px 100px 4px;
}
.app__star-container_artwork-frame_paint {
	position: absolute;
	width: calc(100% - 100px);
	z-index: 2;
	transition: 0.5s ease;
}
.app__star-container_artwork-frame_paint > img {
	position: absolute;
	width: 100%;
	transition: 0.5s ease;
}
.app__star-container > div {
	flex: 1;
	height: 100%;
	padding-bottom: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.app__star-container_caption {
	flex-direction: column;
	padding: 0 5em;
}
.app__star-container_caption-title {
	text-align: left;
	margin: 2em 0;
	width: 100%;
	text-transform: uppercase;
}
.app__star-container_caption-text {
	text-align: right;
}
